@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
}

*{
    font-family: "Work Sans", sans-serif;
}

header{
    background-color: rgba(255, 144, 14, .10);
    padding: 50px 240px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
}

.header-title{
    font-size: 3rem;
    font-weight: bold;
}

.banner{
    
}

.banner-title{
    font-size: 4.25rem;
    font-weight: bold;
    color: black;
    padding-bottom: 50px;
    padding-top: 50px;
}

.banner-description{
    font-size: 1.5rem;
    padding-bottom: 30px;
}

.banner-title,.banner-description{
    margin: 0px auto;
    text-align: center;
    max-width: 862px;
}

.btn-primary{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: white;  
    margin-left: 350px;
    margin-right: 450px;
    margin-bottom: 50px;

}

.banner-img{
    width: 100%;
}

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .btn-primary{
        margin: 20px auto;
        display: block;
    }
}

@media screen and (min-width: 576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .btn-primary{
        margin: 20px auto;
        display: block;
    }
}
